# root
node_modules
.DS_Store
.env
.env.*
dist
build

# backend
backend/node_modules
backend/.env
backend/.env.*
backend/prisma/dev.db
backend/prisma/*.db
backend/prisma/*.db-journal

# frontend
dashboard-react/node_modules
dashboard-react/dist
dashboard-react/.env
dashboard-react/.env.*
node_modules
backend/node_modules
dashboard-react/node_modules
.env
